body {
	padding: 0;
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
}
.app-header {
	background: #53a96e;
	height: 140px;
	margin-bottom: 52px;
}
#logo {
	margin: 30px 0 0 40px;
}
main > div { float: left }
#recipes {width: 470px; margin: 0 45px;}
#calendar { width: calc(100% - 600px) }
table { width: 100%; border-collapse: collapse; }
table thead th {
	background: #9acdaa;
	color: white;
	text-transform: uppercase;
	border-bottom: 1px solid #6eb785;
	padding: 1em 2em;
}
table thead th:first-child {
	border-top-left-radius: 8px;
	border: transparent;
}
table thead th:last-child {
	border-top-right-radius: 8px;
	border: transparent;
}

table td, table th { border: 1px solid #9acdaa}
table td { padding: 0; }
table td ul { min-height: 50px; }
tbody tr th {
	color: #67b37f;
	text-transform: uppercase;
	width: 125px;
}
tbody tr td {
	width: 200px;
}

#ingredients {
	background: white;
}
#shopping-list.collapsed #ingredients {
	display: none;
}

#shopping-list {
	position: fixed;
	bottom: 0; right: 2em;
}

#shopping-list header {
	background: #0f6fb5;
	color: white;
	width: 300px;
	padding: 1em;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	text-transform: uppercase;
}

#shopping-list section {
	background: white;
	padding: 1em;
}
#shopping-list ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

input[type=search] {
	width: 100%;
	padding: 1em 2em;
	border: 1px solid #6ea8d2;
	border-radius: 8px;
	color: #1975b8;
	font-weight: bold;
	line-height: 2;
	outline: none
}
#recipes ul {
	list-style: none;
	padding: 0;
	border: 1px solid #6ea8d2;
	border-radius: 8px;
	box-shadow: 0 0 10px #cecece;
}
#recipes ul li {
	overflow: hidden;
	margin: 1em .5em;
}
.search-result .img {
	background-size: cover;
	background: silver;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	float: left;
	margin-right: 1em;
}
.search-result .details {
	float: left;
	min-width: 190px;
}
.search-result .title {
	width: 120px;
	min-height: 18px;
}
.search-result .info {
	width: 180px;
	min-height: 10px;
	margin-top: 4px;
	font-family: sans-serif;
	font-size: 10px;
}

.searching .search-result .details .title,
.searching .search-result .details .info {
	background: silver;
	display: block;
}
#calendar ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
#calendar ul li {
	overflow: auto;
	margin: .25em;
}